ul {
  list-style-type: none; /*Removes list bullets*/
  display: flex; /*Adds display flex to align the list horizontally*/
}

li {
  flex: 1; /*Adds flex 1 to make list items occupy same amount of space regardless of the content*/
  background-color: #4d7298; /*Adds background color to list items*/
  border: 2px solid #77a6b6; /*Adds border to list items*/
  border-radius: 0.5em; /*Adds border radius to list items*/
  color: #fff; /*Adds color to list items*/
  padding: 0.5em; /*Adds padding to list items*/
}

li:nth-of-type(1) {
  flex: 2; /*Makes the first item twice the size of the other items*/
}
